{
   "type": "mysql",
   "host": "localhost",
   "port": 3306,
   "username": "emm",
   "password": "test",
   "database": "test",
   "synchronize": true,
  "entities": ["src/**/**.entity{.ts,.js}"],
   "logging": "all"
}